@model IEnumerable<MonitoringAndEvaluationPlatform.Models.Framework>
@using MonitoringAndEvaluationPlatform.Helpers
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ResultsFrameworkLayout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    var roles = await UserManager.GetRolesAsync(user);

    if (roles.Contains("Admin"))
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
}



<form asp-action="Index" method="get" class="mb-3">
    <div class="input-group">
        <input style="width:20%" type="text" name="searchString" class="form-control" placeholder="Search by Framework" value="@ViewData["CurrentFilter"]" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>

            </th>
            <th>
                Trend
            </th>

            <th>
                Indicators Performance
            </th>
            <th>
                Disbursement Performance
            </th>
            <th>
                Field Monitoring
            </th>
            <th>
                Impact Assessment
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            string indicatorsClass = ProgressBarHelper.GetProgressBarClass(item.IndicatorsPerformance);
            string disbursementClass = ProgressBarHelper.GetProgressBarClass(item.DisbursementPerformance);
            string fieldMonitoringClass = ProgressBarHelper.GetProgressBarClass(item.FieldMonitoring);
            string impactAssessmentClass = ProgressBarHelper.GetProgressBarClass(item.ImpactAssessment);
            string trendImage = ProgressBarHelper.GetTrendImage(item.Trend);

            <tr>
                <td>
                    <a href="/Outcomes/FramworkOutcomes/@item.Code">@item.Name</a>
                </td>
                <td>
                    <img src="~/img/@trendImage" />
                </td>
                <td>
                    @item.Trend
                </td>
                <td>
                    @await Html.PartialAsync("_ProgressBar", Tuple.Create(item.IndicatorsPerformance, indicatorsClass))
                </td>
                <td>
                    @await Html.PartialAsync("_ProgressBar", Tuple.Create(item.DisbursementPerformance, disbursementClass))
                </td>
                <td>
                    @await Html.PartialAsync("_ProgressBar", Tuple.Create(item.FieldMonitoring, fieldMonitoringClass))
                </td>
                <td>
                    @await Html.PartialAsync("_ProgressBar", Tuple.Create(item.ImpactAssessment, impactAssessmentClass))
                </td>
                <td>
                    <form asp-controller="Tree" asp-action="Index" asp-route-id="@item.Code" method="post" style="display: inline;">
                        <button class="btn btn-sm btn-success" title="Tree">
                            <i class="bi bi-diagram-3"></i>
                        </button>
                    </form>
                    <form asp-action="Details" asp-route-id="@item.Code" method="get" style="display: inline;">
                        <button class="btn btn-sm btn-primary" title="View">
                            <i class="bi bi-eye"></i>
                        </button>
                    </form>
                    <form asp-action="Edit" asp-route-id="@item.Code" method="get" style="display: inline;">
                        <button class="btn btn-sm btn-warning" title="Edit">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </form>
                    <form asp-action="Delete" asp-route-id="@item.Code" method="post" style="display: inline;">
                        <button class="btn btn-sm btn-danger" title="Delete">
                            <i class="bi bi-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
