@model IEnumerable<MonitoringAndEvaluationPlatform.Models.SubOutput>
@using MonitoringAndEvaluationPlatform.Helpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ResultsFrameworkLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.SelectedOutputCode" class="btn btn-success">Create New Sub Output</a>
    @if (@ViewBag.SelectedOutputCode != null)
    {
        <a asp-action="AdjustWeights" asp-route-frameworkCode="@ViewData["frameworkCode"]" asp-route-outputCode="@ViewBag.SelectedOutputCode" class="btn btn-warning">Adjust Weights</a>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Weight
            </th>
   @*          <th>
                Trend
            </th> *@
            <th>
                Indicators Performance
            </th>
            <th>
                Disbursement Performance
            </th>
            <th>
                Field Monitoring
            </th>
            <th>
                Impact Assessment
            </th>
            <th>
                Output
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string indicatorsClass = ProgressBarHelper.GetProgressBarClass(item.IndicatorsPerformance);
            string disbursementClass = ProgressBarHelper.GetProgressBarClass(item.DisbursementPerformance);
            string fieldMonitoringClass = ProgressBarHelper.GetProgressBarClass(item.FieldMonitoring);
            string impactAssessmentClass = ProgressBarHelper.GetProgressBarClass(item.ImpactAssessment);
            string trendImage = ProgressBarHelper.GetTrendImage(item.Trend);
            double IndicatorsPerformance = Math.Round(item.IndicatorsPerformance, 2);
            <tr>
                <td>
                    <a asp-controller="Indicators" asp-route-frameworkCode="@item.Output.Outcome.FrameworkCode" asp-route-subOutputCode="@item.Code" asp-action="Index">@item.Name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
           @*      <td>
                    @Html.DisplayFor(modelItem => item.Trend)
                </td> *@
                <td>
                    @await Html.PartialAsync("_ProgressBar", Tuple.Create(IndicatorsPerformance, indicatorsClass))
                </td>
                <td>
                    @await Html.PartialAsync("_ProgressBar", Tuple.Create(item.DisbursementPerformance, disbursementClass))
                </td>
                <td>
                    @await Html.PartialAsync("_ProgressBar", Tuple.Create(item.FieldMonitoring, fieldMonitoringClass))
                </td>
                <td>
                    @await Html.PartialAsync("_ProgressBar", Tuple.Create(item.ImpactAssessment, impactAssessmentClass))
                </td>

                <td>
                    <a href="/Outputs/Index/@item.OutputCode">@item.Output.Name</a>
                </td>
                <td>
                    <form method="post" style="display: inline;">
                        <button class="btn btn-sm btn-success" title="Tree">
                            <i class="bi bi-diagram-3"></i>
                        </button>
                    </form>
                    <form asp-action="Details" asp-route-id="@item.Code" method="get" style="display: inline;">
                        <button class="btn btn-sm btn-primary" title="View">
                            <i class="bi bi-eye"></i>
                        </button>
                    </form>
                    <form asp-action="Edit" asp-route-id="@item.Code" method="get" style="display: inline;">
                        <button class="btn btn-sm btn-warning" title="Edit">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </form>
                    <form asp-action="Delete" asp-route-id="@item.Code" method="post" style="display: inline;">
                        <button class="btn btn-sm btn-danger" title="Delete">
                            <i class="bi bi-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
