@model MonitoringAndEvaluationPlatform.Models.Outcome

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_ResultsFrameworkLayout.cshtml";
}

<div>
	<a asp-controller="Outputs" asp-action="Create">Create Output</a>
</div>
<div>
	<h4>Outcome</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
	</dl>
</div>
<div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Code</th>
				<th scope="col">Name</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Outputs)
			{
				<tr>
					<th scope="row">1</th>
					<td>1</td>
					<td>@item.Name</td>
					<td>
						<div class="d-inline">
							<form asp-controller="Outputs" asp-action="Details" asp-route-id="@item.Code" method="get" style="display: inline;">
								<button class="btn btn-sm btn-primary" title="View">
									<i class="bi bi-eye"></i>
								</button>
							</form>
							<form asp-controller="Outputs" asp-action="Edit" asp-route-id="@item.Code" method="get" style="display: inline;">
								<button class="btn btn-sm btn-warning" title="Edit">
									<i class="bi bi-pencil"></i>
								</button>
							</form>
							<form asp-controller="Outputs" asp-action="Delete" asp-route-id="@item.Code" method="post" style="display: inline;">
								<button class="btn btn-sm btn-danger" title="Delete">
									<i class="bi bi-trash"></i>
								</button>
							</form>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<a asp-action="Edit" asp-route-id="@Model?.Code">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
