@model IEnumerable<MonitoringAndEvaluationPlatform.Models.Measure>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ProgramsLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValueType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indicator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValueType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indicator.Code)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Code">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Code">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Code">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
