@using MonitoringAndEvaluationPlatform.ViewModel
@model List<ProjectLocationViewModel>

<h2>Projects and Their Locations</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Project</th>
            <th>Governorate</th>
            <th>District</th>
            <th>SubDistrict</th>
            <th>Community</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProjectName</td>
                <td>@item.Governorate</td>
                <td>@item.District</td>
                <td>@item.SubDistrict</td>
                <td>@item.Community</td>
            </tr>
        }
    </tbody>
</table>
