@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Localization
@{
	var culture = Context.Features.Get<IRequestCultureFeature>()?.RequestCulture.Culture.Name;
	var dir = culture == "ar" ? "rtl" : "ltr";
	var lang = culture == "ar" ? "ar" : "en";
}

<!DOCTYPE html>
<html lang="@lang" dir="@dir">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - @Localizer["Monitoring & Evaluation System"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<link rel="stylesheet" href="~/css/all.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/ProjectsLayout.css" />
	<link rel="stylesheet" href="~/css/themes/theme-default.css" />
	<link rel="stylesheet" href="~/css/themes/theme-calm-blue.css" />
	<link rel="stylesheet" href="~/css/themes/theme-alternative.css" />
	<link rel="stylesheet" href="~/css/themes/theme-modern-glass.css" />
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="topbar">
			<div class="title">@Localizer["Monitoring & Evaluation System"]</div>
			@await Html.PartialAsync("_ThemeDropdown")
		</div>
	</header>

	<div class="main">
		<!-- Sidebar -->
		<div class="sidebar">
			<ul class="list-unstyled">
				<li>
					<a class="d-flex align-items-center" href="/Frameworks/Index">
						<i class="fas fa-sitemap me-3"></i>
						<span>@Localizer["Results Framework"]</span>
					</a>
				</li>
				<li>
					<a class="d-flex align-items-center" href="/Ministries/Index">
						<i class="fas fa-cogs me-3"></i>
						<span>@Localizer["Set Up"]</span>
					</a>
				</li>
				<li>
					<a class="d-flex align-items-center" href="/Projects/Index">
						<i class="fas fa-project-diagram me-3"></i>
						<span>@Localizer["Projects"]</span>
					</a>
				</li>
				<li>
					<a class="d-flex align-items-center" href="/Monitoring/Index">
						<i class="fas fa-chart-line me-3"></i>
						<span>@Localizer["Monitoring"]</span>
					</a>
				</li>
				<li>
					<a class="d-flex align-items-center" href="/Dashboard/Index">
						<i class="fas fa-tachometer-alt me-3"></i>
						<span>@Localizer["Dashboard"]</span>
					</a>
				</li>
		@* 		<li>
					<a class="d-flex align-items-center" href="#">
						<i class="fas fa-sliders-h me-3"></i>
						<span>Settings</span>
					</a>
				</li> *@
			</ul>
		</div>

		<!-- Content Area -->
		<div class="container-full">
			<main role="main" class="pb-3">
				@RenderBody()
			</main>
		</div>
	</div>
	@* To check  <script src="~/lib/jquery/dist/jquery.min.js"></script> *@a
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/theme-switcher.js" asp-append-version="true"></script>
	@*  @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>
