@model MonitoringAndEvaluationPlatform.Models.Sector
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_SetUpLayout.cshtml";
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;

}

<h1>@Localizer["Edit Sector"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Code" />
            @if (culture.StartsWith("ar"))
            {
                <div class="form-group">
                    <label asp-for="AR_Name" class="control-label">@Localizer["Name"]</label>
                    <input asp-for="AR_Name" class="form-control" />
                    <span asp-validation-for="AR_Name" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="EN_Name" class="control-label">@Localizer["Name"]</label>
                    <input asp-for="EN_Name" class="form-control" />
                    <span asp-validation-for="EN_Name" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"> @Localizer["Back to List"]</a>
</div>

