@model IEnumerable<MonitoringAndEvaluationPlatform.Models.ProjectManager>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Localization
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SetUpLayout.cshtml";
}
<p>
    <a asp-action="Create" class="btn btn-primary">
        <i class="fas fa-plus me-2"></i>@Localizer["Create a New Entity"]
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Name"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td class="text-end">
                    <div class="btn-group" role="group">
                        <a asp-action="Edit" asp-route-id="@item.Code" class="btn btn-sm btn-outline-warning" title="Edit">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Code" class="btn btn-sm btn-outline-danger" title="Delete">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </td>

        </tr>
}
    </tbody>
</table>
