@model MonitoringAndEvaluationPlatform.Models.Donor

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_SetUpLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Donor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Partner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Partner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisbursementPerformance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisbursementPerformance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldMonitoring)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldMonitoring)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpactAssessment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpactAssessment)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Code" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
